.bookingPaymentInfoWrapper {
  background-color: #ededed;
  padding: 2.5% 2% 1.5% 2%;
  margin: 1% 1% 1% 0%;
  border-radius: 0.4rem;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.1);
}

.bookingPaymentInfoContainer {
  padding: 1rem 3rem 1rem 3rem;
  margin: 0 0 0 4rem;
  background-color: #46b2e0;
  border-radius: 0.4rem;
  width: 60%;
}
.customerDetailsContainer {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}

.paymentBreakdownBlock {
  margin: 1rem 0 0 0;
}
.paymentHeader {
  font-weight: 600;
  font-size: 1.1rem;
  padding: 0.2rem;
}
.paymentBreakdownContainer {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 1rem 0.2rem 1rem;
  font-size: 1.2rem;
}

.ticketsTotalContainer {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 1rem 0.2rem 1rem;
  font-size: 1.2rem;
}

.bookingTotalAmountConatiner {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 1rem 0.2rem 1rem;
  font-size: 1.2rem;
}
