.searchUpdateBlockContainer {
  display: flex;
  height: max-content;
  width: 84vw;
  margin-top: 0rem;
  margin-left: 3.2rem;
  border-radius: 1.8rem;
}
.searchUpdateBlockSearchBlock {
  position: relative;
  border-radius: 1rem;
  border:1px solid #e7e7e7;
  margin-top: 3.4rem;
  display: flex;
  margin-left: 0.6rem;
  height: 7rem;
}

.searchUpdateBlockSearchBlockContainer {
  width: max-content;
  padding: 0.5rem 0 0.5rem 0.5rem;
}

.searchUpdateBlockRadioButtons {
  position: absolute;
  margin: 0.5rem 0 0 1rem;
}

.searchUpdateBlockDestinationPopUpContainer {
  margin: 0 0 0 -1rem;
}

.searchUpdateBlockOptionDisplay {
  display: flex;
  flex-direction: row;
  width: 21ch;
}
.searchUpdateBlockAirportDescription {
  margin: -2rem 0 0 1rem;
  position: relative;
}

.searchUpdateBlockAirportCodeDisplay {
  margin: 0px;
  font-size: 0.9rem;
  color: #818181;
}

.searchUpdateBlockAirportNameDisplay {
  margin-left: 0.1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9rem;
  color: #818181;
}
.searchUpdateBlockPopup {
  border-right: 1px solid #e7e7e7;
  border-radius: 0.4rem;
  height: 7rem;
  width: 15.8rem;
}

.searchUpdateBlockToggleSwitch {
  height: 2.5rem;
  width: 2.5rem;
  border: 1px solid #e7e7e7;
  border-radius: 2rem;
  margin: 2rem 1rem 0 -1rem;

  background-color: white;
  cursor: pointer;
  z-index: 0;
  transition: all 600ms ease;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 6px 6px rgba(0, 0, 0, 0.12);
}
.searchUpdateBlockToggleSwitch:hover {
  background-color: #a4d3e7;
}
.switchSvg {
  height: 24px;
  margin: 8px;
  margin-left: 11px;
}

.searchUpdateBlockDepartureDateContainer {
  width: 14rem;
  border-right: 1px solid #e7e7e7;
  background-color: #fff;
  border-radius: 0.4rem;
  margin: 0 0 0 0.5rem;
}

.searchUpdateBlockReturnDateContainer {
  width: 14rem;
  border-right: 1px solid #e7e7e7;
  background-color: #fff;
  border-radius: 0.4rem;
  margin: 0 0 0 0.5rem;
}

.searchUpdateBlockErrorContainerAirtports {
  position: absolute;
  width: 25rem;
  top: 100%;
  left: 7.5%;
  border-radius: 8px;
  padding: 0.1rem 0.4rem 0.1rem 0.4em;
  background: #ffd3d4;
  box-shadow: 5px 5px 17px #e6e6e6, -5px -5px 17px #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.searchUpdateBlockErrorContainerAirtports:after {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 12px solid #ffd3d4;
  border-right: 10px solid transparent;
  left: 38%;
  top: -40%;
}

.searchUpdateBlockErrorContainerAirtports.open {
  visibility: visible;
}

.searchUpdateBlockErrorContainerReturnDate {
  position: absolute;
  width: 20rem;
  top: 105%;
  left: 42%;
  border-radius: 8px;
  padding: 0.1rem 0.4rem 0.1rem 0.4em;
  background: #fff5b9;
  box-shadow: 5px 5px 17px #e6e6e6, -5px -5px 17px #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}
.searchUpdateBlockErrorContainerReturnDate:after {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 12px solid #fff5b9;
  border-right: 10px solid transparent;
  left: 70%;
  top: -75%;
}
.errorH4 {
  margin: 0px;
  font-weight: 100;
  color: red;
}
.errorH4Return {
  margin: 0px;
  font-weight: 100;
  color: rgb(0, 110, 255);
}
.searchUpdateBlockErrorH4 {
  margin: 0px;
  font-weight: 100;
  color: red;
}
.searchUpdateBlockErrorContainerReturnDate.open {
  visibility: visible;
}

.searchUpdateBlockTravellerInfoContainer {
  border-radius: 0.4rem;
  margin: 0 0 0 0.5rem;
}
.searchUpdateBlockErrorContainerTravelClass {
  position: relative;
  top: 0.4rem;
  left: 58rem;
  width: 17.2rem;
  border-radius: 8px;
  padding: 0.1rem 0.4rem 0.1rem 0.4em;
  background: #ffd3d4;
  box-shadow: 5px 5px 17px #e6e6e6, -5px -5px 17px #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.searchUpdateBlockErrorContainerTravelClass:after {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 12px solid #be9c9d;
  border-right: 10px solid transparent;
  left: 80%;
  top: -80%;
}

.searchUpdateBlockErrorContainerTravelClass.open {
  visibility: visible;
}

.updateSearchBlockBtn {
  margin: 6rem 0 0 2rem;
}