.myInfoContainer {
  margin: 1rem 0 0 0;
  padding: 0.5rem;
  background-color: #fff;
  box-shadow: 0 0 6px 0 rgb(0 0 0 / 20%);
  border-radius: 0.4rem;
  height: max-content;
}
.myInfoNavBar {
  display: none;
}
.myInfoNavBarDesktop {
  width: 100%;
  background-color: #fff;
  border-top-right-radius: 0.4rem;
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  box-shadow: 0 0 6px 0 rgb(0 0 0 / 20%);
}
.currentCategoryDesktopWrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 16px;
  background-color: #fff;
  padding: 0.5rem;
  border-top-right-radius: 0.4rem;
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}
.currentCategoryDesktop {
  padding: 0.5rem 2rem 0.5rem 2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 250ms ease-in;
  user-select: none;
}
.currentCategoryDesktop.selected {
  background-color: #a4d3e7;
  color: #0d3c86;
}
@media screen and (max-width: 1370px) {
}
@media screen and (max-width: 1120px) {
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 840px) {
}
@media screen and (max-width: 770px) {
}
@media screen and (max-width: 480px) {
}
@media screen and (max-width: 420px) {
  .myInfoNavBarDesktop {
    display: none;
  }
  .myInfoNavBar {
    display: flex;
    width: 100%;
    background-color: #fff;
    border-top-right-radius: 0.4rem;
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 20%);
  }
  .myInfoCategoryDropDown {
    margin: 0.2rem 0 0 0;
    background-color: #fff;
    border-radius: 0.2rem 0.2rem 0.4rem 0.4rem;
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 20%);
  }
  .myInfoCategoryOptions {
    font-size: 16px;
    margin: 0.2rem 0 0.2rem 0;
    border-bottom: 0.001rem solid #cfd1d5;
    cursor: pointer;
    padding: 0.8rem 0.5rem 0.8rem 0.5rem;
    user-select: none;
  }
  .myInfoNavBar {
    display: flex;
    background-color: #fff;
    padding: 0.6rem 0 0.6rem 0;
    border-radius: 0.4rem;
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 20%);
  }
  .currentCategoryDisplay {
    text-align: center;
    font-size: 18px;
    width: 50%;
    margin: 0 0 0 0.5rem;
    font-weight: 600;
    border-radius: 0.4rem;
    background-color: #a4d3e7;
  }
  .myInfoHamburger {
    text-align: right;
    padding: 0 1.5rem 0 0;
    width: 50%;
    max-height: 24px;
    user-select: none;
  }
  .myInfoHamburger .fa-chevron-down {
    margin: 0;
    font-size: 24px;
    color: black;
    user-select: none;
  }
  .myInfoHamburger .fa-chevron-up {
    margin: 0;
    font-size: 24px;
    color: black;
    user-select: none;
  }
}
@media screen and (max-width: 380px) {
}
@media screen and (max-width: 360px) {
}
.currentCategoryDesktop:hover{
  background-color: #a4d3e7;
}