.pricePromiseContainer {
  border-radius: 0.5rem;
  color: #46b2e0;
  width: 90%;
  margin: 0.2% 0 2% 1%;
  padding: 0.5rem;
  font-weight: 600;
  font-size: 0.9rem;
}
@media screen and (max-width: 420px) {
  .pricePromiseContainer {
    font-size: 0.6rem;
    width: 99%;
  }
}
