.adminInfoContainer {
  width: 100%;
  height: 96vh;
  margin: 5% 0 0 0;
  border-right: 0.5px solid black;
}

.adminInfoHeader {
  background-color: #c4c2c2;
  margin: 3% 2% 5% 2%;
  padding: 1.8%;
  border-radius: 0.4rem;
  text-align: center;
  font-weight: 600;
  font-style: italic;
  font-size: 1.2rem;
}
.adminNameContainer {
  background-color: red;
  padding: 0.5%;
  margin: 1%;
}

.adminProfileContainer {
  background-color: #ededed;
  margin: 20% 2% 5% 2%;
  padding: 1.8%;
  border-radius: 0.4rem;
  text-align: center;
}

.BookingActionsContainer {
  padding: 90% 0 0 0;
}

.bookingNotesContainer {
  background-color: #ededed;
  margin: 20% 2% 5% 2%;
  padding: 1.8%;
  border-radius: 0.4rem;
  text-align: center;
  cursor: pointer;
  user-select: none;
  transition: background-color 200ms ease-in;
}

.bookingNotesContainer:hover {
  background-color: #a4d3e7;
}
.currencyConverterContainer {
  background-color: #ededed;
  margin: 10% 2% 5% 2%;
  padding: 1.8%;
  border-radius: 0.4rem;
  text-align: center;
  cursor: pointer;
  user-select: none;
  transition: background-color 200ms ease-in;
}
.currencyConverterContainer:hover {
  background-color: #a4d3e7;
}
.logOutContainer {
  background-color: #ededed;
  margin: 20% 2% 5% 2%;
  padding: 1.8%;
  border-radius: 0.4rem;
  text-align: center;
  cursor: pointer;
  transition: background-color 200ms ease-in;
}
.logOutContainer:hover {
  background-color: #a4d3e7;
}
