.canceledTripsWrapper {
  margin: 1rem 0 0 0;
  padding: 0.5rem;
  background-color: #fff;
  box-shadow: 0 0 6px 0 rgb(0 0 0 / 20%);
  border-radius: 0.4rem;
  height: max-content;
}
.canceledTripsItinerary {
  margin: 0.5rem 0 0.5rem 0;
  padding: 0.5rem;
  border: 2px solid #bebdbd;
  border-radius: 0.4rem;
}
.canceledTripImpInfo {
  display: flex;
}

.canceledTrips_tripType {
  font-size: 14px;
  background-color: #f1d559;
  padding: 0.3rem;
  border-radius: 0.2rem;
  width: max-content;
  box-shadow: 0 0 6px 0 rgb(0 0 0 / 20%);
}
.canceledTrips_tripStatus {
  font-size: 14px;
  background-color: #f06046;
  padding: 0.3rem;
  border-radius: 0.2rem;
  margin: 0 0 0 0.5rem;
  width: max-content;
  box-shadow: 0 0 6px 0 rgb(0 0 0 / 20%);
}
.cnt_IMpInfoDesc {
  font-weight: 600;
}

.canceledTrips_trip1 {
  padding: 0rem;
}
.canceledTrips_trip2 {
  margin: 0rem 0 0 0;
  padding: 0.5rem 0 0 0;
  border-top: 2px dashed #bebdbd;
}
.cnt_itineraryDateAndCabinClass {
  display: flex;
  justify-content: space-between;
}
.cnt_itineraryDetails {
  display: flex;
  width: 100%;
  margin: 0rem 0 0.8rem 0;
}
.cnt_itineraryAirlineLogoAndName {
  display: flex;
  width: 17%;
  margin: 0.5rem 0 0 0;
  padding: 0.2rem;
}
.canceledTripsAirlineLogoImgTag {
  height: 40px;
  height: 40px;
  border-radius: 0.4rem;
}
.canceledTripsAirlineName {
  font-size: 20px;
  font-weight: 600;
  margin: 0.2rem 0 0 0.5rem;
}
.cnt_itineraryTakeOffDate {
  display: block;
  width: 17%;
  text-align: center;
  padding: 1.1rem 0.2rem 0.2rem 0.2rem;
  margin: 0 0rem 0 0.5rem;
}
.cnt_itineraryLandingDate {
  display: block;
  width: 17%;
  padding: 1.1rem 0.2rem 0.2rem 0.2rem;
  margin: 0 0rem 0 0rem;
}
.cnt_itineraryTakeOffTimeAndAirportName {
  text-align: center;
  width: 17%;
  margin: 0 0 0 0rem;
  padding: 0.2rem;
}
.cnt_itineraryDurationAndStops {
  width: 17%;
  text-align: center;
  margin: 0 0rem 0 0;
  padding: 0.2rem;
}
.cnt_tripDuration {
  font-size: 14px;
}
.cnt_layOverInfo {
  height: 20px;
}
.cnt_layOverInfoImgTag {
  width: 150px;
}
.cnt_itineraryNoOfStops {
  font-size: 14px;
}
.cnt_itineraryLandingTimeAndAirportName {
  text-align: center;
  width: 17%;
  margin: 0 0 0 0rem;
  padding: 0.2rem;
}

.cnt_flightTime {
  font-weight: 600;
  font-size: 18px;
}
.cnt_flightAirport {
  margin: 0 0 0 0.4rem;
  font-size: 16px;
  font-weight: 600;
  color: #978787;
}
@media screen and (max-width: 1370px) {
}
@media screen and (max-width: 1120px) {
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 840px) {
}
@media screen and (max-width: 770px) {
}
@media screen and (max-width: 480px) {
}
@media screen and (max-width: 420px) {
  .canceledTripsWrapper {
    padding: 0.2rem;
    background-color: #fff;
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 20%);
    border-radius: 0.4rem;
  }
  .canceledtripType {
    font-size: 14px;
    padding: 0.3rem;
    border-radius: 0.2rem;
    width: max-content;
    margin: 0 0 0.5rem 0;
    background-color: #f6ad34;
  }
  .canceledTripsItinerary {
    margin: 0.5rem 0 0.5rem 0;
    padding: 0.5rem;
  }
  .canceledTrips_trip1 {
    border-radius: 0.4rem;
    padding: 0.5rem;
  }
  .canceledTrips_trip2 {
    margin: 0.5rem 0 0 0;
    border-radius: 0.4rem;
    padding: 0.5rem;
  }
  .cnt_itineraryDateAndCabinClass {
    display: flex;
    justify-content: space-between;
  }
  .cnt_itineraryDetails {
    display: flex;
    width: 100%;
    margin: 0.8rem 0 0.8rem 0;
  }
  .cnt_itineraryAirlineLogoAndName {
    display: flex;
    width: 25%;
    margin: 0.5rem 0 0 0;
    padding: 0.2rem;
  }
  .canceledTripsAirlineLogoImgTag {
    height: 30px;
    height: 30px;
    border-radius: 0.4rem;
  }
  .canceledTripsAirlineName {
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 0 0.5rem;
  }
  .cnt_itineraryTakeOffDate {
    display: none;
  }
  .cnt_itineraryLandingDate {
    display: none;
  }

  .cnt_itineraryTakeOffTimeAndAirportName {
    width: 25%;
    margin: 0 0 0 0.5rem;
    padding: 0.2rem;
  }
  .cnt_itineraryDurationAndStops {
    width: 25%;
    margin: 0 0.5rem 0 0.5rem;
    padding: 0.2rem;
  }
  .cnt_tripDuration {
    font-size: 14px;
    padding: 0 0 0 1.7rem;
  }
  .cnt_layOverInfo {
    height: 20px;
  }
  .cnt_layOverInfoImgTag {
    width: 100px;
  }
  .cnt_itineraryNoOfStops {
    font-size: 14px;
    padding: 0 0 0 1.8rem;
  }
  .cnt_itineraryLandingTimeAndAirportName {
    width: 25%;
    margin: 0 0 0 0.5rem;
    padding: 0.2rem;
  }
  .cnttakeOffTime {
    font-weight: 600;
    font-size: 18px;
  }
  .cnt_takeOffAirport {
    margin: 0 0 0 0.4rem;
    font-size: 16px;
    font-weight: 600;
    color: #978787;
  }
}
@media screen and (max-width: 380px) {
}
@media screen and (max-width: 360px) {
}
