.upcomingTripsWrapper {
  margin: 1rem 0 0 0;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 0 6px 0 rgb(0 0 0 / 20%);
  border-radius: 0.4rem;
  height: max-content;
}

.upcomingTripsItinerary {
  margin: 0.8rem 0 0.5rem 0;
  padding: 0.5rem;
  border: 2px solid #bebdbd;
  border-radius: 0.4rem;
}
.upcomingTripImpInfo {
  display: flex;
}

.upcomingTrips_tripType {
  font-size: 14px;
  background-color: #f1d559;
  padding: 0.3rem;
  border-radius: 0.2rem;
  width: max-content;
  box-shadow: 0 0 6px 0 rgb(0 0 0 / 20%);
}
.upcomingTrips_tripStatus {
  font-size: 14px;
  background-color: #a4d3e7;
  padding: 0.3rem;
  border-radius: 0.2rem;
  margin: 0 0 0 0.5rem;
  width: max-content;
  box-shadow: 0 0 6px 0 rgb(0 0 0 / 20%);
}
.ut_IMpInfoDesc {
  font-weight: 600;
}
.upcomingTrips_trip1 {
  padding: 0rem;
}
.upcomingTrips_trip2 {
  margin: 0rem 0 0 0;
  padding: 0.5rem 0 0 0;
  border-top: 2px dashed #bebdbd;
}
.itineraryDateAndCabinClass {
  display: flex;
  justify-content: space-between;
}
.itineraryDetails {
  display: flex;
  width: 100%;
  margin: 0rem 0 0.8rem 0;
}
.itineraryAirlineLogoAndName {
  display: flex;
  width: 17%;
  margin: 0.5rem 0 0 0;
  padding: 0.2rem;
}
.upcomingTripsAirlineLogoImgTag {
  height: 40px;
  height: 40px;
  border-radius: 0.4rem;
}
.upcomingTripsAirlineName {
  font-size: 20px;
  font-weight: 600;
  margin: 0.2rem 0 0 0.5rem;
}
.itineraryTakeOffDate {
  display: block;
  width: 17%;
  text-align: center;
  padding: 1.1rem 0.2rem 0.2rem 0.2rem;
  margin: 0 0rem 0 0.5rem;
}
.itineraryLandingDate {
  display: block;
  width: 17%;
  padding: 1.1rem 0.2rem 0.2rem 0.2rem;
  margin: 0 0rem 0 0rem;
}

.itineraryTakeOffTimeAndAirportName {
  text-align: center;
  width: 17%;
  margin: 0 0 0 0rem;
  padding: 0.2rem;
}
.itineraryDurationAndStops {
  width: 17%;
  text-align: center;
  margin: 0 0rem 0 0;
  padding: 0.2rem;
}
.tripDuration {
  font-size: 14px;
}
.layOverInfo {
  height: 20px;
}
.layOverInfoImgTag {
  width: 150px;
}
.itineraryNoOfStops {
  font-size: 14px;
}
.itineraryLandingTimeAndAirportName {
  text-align: center;
  width: 17%;
  margin: 0 0 0 0rem;
  padding: 0.2rem;
}
.flightTime {
  font-weight: 600;
  font-size: 18px;
}
.flightAirport {
  margin: 0 0 0 0.4rem;
  font-size: 16px;
  font-weight: 600;
  color: #978787;
}

@media screen and (max-width: 1370px) {
}
@media screen and (max-width: 1120px) {
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 840px) {
}
@media screen and (max-width: 770px) {
}
@media screen and (max-width: 480px) {
}
@media screen and (max-width: 420px) {
  .upcomingTripsWrapper {
    margin: 3rem 0 0 0;
    padding: 0.2rem;
    background-color: #fff;
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 20%);
    border-radius: 0.4rem;
    height: 32rem;
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
  .tripType {
    font-size: 14px;
    padding: 0.3rem;
    border-radius: 0.2rem;
    width: max-content;
    margin: 0 0 0.5rem 0;
    background-color: #f6ad34;
  }
  .upcomingTripsItinerary {
    margin: 0.5rem 0 0.5rem 0;
    padding: 0.5rem;
  }
  .upcomingTrips_trip1 {
    border-radius: 0.4rem;
    padding: 0.5rem;
  }
  .upcomingTrips_trip2 {
    margin: 0.5rem 0 0 0;
    border-radius: 0.4rem;
    padding: 0.5rem;
  }
  .itineraryDateAndCabinClass {
    display: flex;
    justify-content: space-between;
  }
  .itineraryDetails {
    display: flex;
    width: 100%;
    margin: 0.8rem 0 0.8rem 0;
  }
  .itineraryAirlineLogoAndName {
    display: flex;
    width: 25%;
    margin: 0.5rem 0 0 0;
    padding: 0.2rem;
  }
  .upcomingTripsAirlineLogoImgTag {
    height: 30px;
    height: 30px;
    border-radius: 0.4rem;
  }
  .upcomingTripsAirlineName {
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 0 0.5rem;
  }
  .itineraryTakeOffDate {
    display: none;
  }
  .itineraryLandingDate {
    display: none;
  }

  .itineraryTakeOffTimeAndAirportName {
    width: 25%;
    margin: 0 0 0 0.5rem;
    padding: 0.2rem;
  }
  .itineraryDurationAndStops {
    width: 25%;
    margin: 0 0.5rem 0 0.5rem;
    padding: 0.2rem;
  }
  .tripDuration {
    font-size: 14px;
    padding: 0 0 0 1.7rem;
  }
  .layOverInfo {
    height: 20px;
  }
  .layOverInfoImgTag {
    width: 100px;
  }
  .itineraryNoOfStops {
    font-size: 14px;
    padding: 0 0 0 1.8rem;
  }
  .itineraryLandingTimeAndAirportName {
    width: 25%;
    margin: 0 0 0 0.5rem;
    padding: 0.2rem;
  }
  .takeOffTime {
    font-weight: 600;
    font-size: 18px;
  }
  .takeOffAirport {
    margin: 0 0 0 0.4rem;
    font-size: 16px;
    font-weight: 600;
    color: #978787;
  }
}
@media screen and (max-width: 380px) {
}
@media screen and (max-width: 360px) {
}
